body {
    background-color: #f6f6f6;
    margin-left: 0px;
}

header {
    padding-top: 40px;
    padding-left: 180px;
    margin-bottom: 10px;
}

.header_logo {
    margin-bottom: 10px;
    margin-right: 20px;
    margin-top: 7px;
}

main {
    margin-bottom: 150px; /* Добавляем отступ внизу страницы */
}

.buttons-container {
    display: flex;
    margin-top: 10px;
    margin-bottom: -10px;
    
}
button {
    padding: 10px 10px;
    margin-right: 20px;
    margin-bottom: 20px;
    font-size: 16px;
    font-family: 'Rubik', sans-serif;
    width: 250px;
    height: 55px;
    cursor: pointer;
    background-color: #1D4E9E;
    color: white;
    border: none;
    border-radius: 12px;
    cursor: pointer;
    transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
    position: relative;
}


button:hover {
    background-color: #2b96dd;
}


footer {
    background-color: #1D4E9E;
     color: white;
      padding: 20px;
       font-size: 15pt;
       text-align: right;
       position: fixed;
       bottom: 0;
       right: 0;
       left: 0;
       z-index: 100;
}

.dropdown {
    position: absolute;
    top: 100%;
    left: 42px;
    background-color: #f6f6f6;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 10px;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease-out, opacity 0.3s ease-out; /* Анимация изменения высоты */
    z-index: 1;
    opacity: 0; /* Начальное состояние блока: невидимое */
    pointer-events: none; /* Блокируем события мыши в скрытом состоянии */
}

.button:hover .dropdown, 
.dropdown:hover {
max-height: 200px; /* Устанавливаем максимальную высоту для открытого блока */
opacity: 1; /* Делаем блок видимым */
pointer-events: auto; /* Включаем обработку событий мыши */
}
.button:not(:hover) .dropdown, 
.dropdown:not(:hover) {
max-height: 0;
opacity: 0;
pointer-events: none;
}

.dropdown a {
display: block;
padding: 8px 12px;
font-size: 14px;
color: #333; /* Цвет текста серый */
text-decoration: none; /* Убираем подчеркивание ссылок */
transition: color 0.3s; /* Плавное изменение цвета при наведении */
}

.dropdown a:hover {
color: #1D4E9E; /* Изменяем цвет текста при наведении на ссылку */
}